

<ng-container matColumnDef="name">
  <th mat-header-cell *matHeaderCellDef> Name </th>
  <td mat-cell *matCellDef="let element">name  </td>
</ng-container>
<div class="contractInfoContainer">
  <form [formGroup]="contractInfoForm"
  (submit)="onSaveContractInfo(); saveButtonClick('Contract created!', 'Info');">
    <mat-form-field >
      <input matInput type="text"   formControlName="residentId" value="{{residentId}}" minlength="3" placeholder="Resident ID">
      <mat-error>Please enter your last name</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput  formControlName="contractSignDate"  [matDatepicker]="contractSignDate"  placeholder="Contract Sign Date">
      <mat-datepicker-toggle matSuffix [for]="contractSignDate"></mat-datepicker-toggle>
      <mat-datepicker #contractSignDate></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput  [value]="contractInfoForm.value.entryDate"
                      formControlName="entryDate"
                      [matDatepicker]="entryDate"
                      placeholder="Entry Date"
                      (dateChange) = "onChangeCurrentEntryDateValue($event)"
                      (input)= "onChangeCurrentEntryDateValue($event)">
      <mat-datepicker-toggle matSuffix [for]="entryDate" ></mat-datepicker-toggle>
      <mat-datepicker #entryDate  ></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="nextVisitDate" [matDatepicker]="nextVisitDate"   placeholder="Next Visit Date">
      <mat-datepicker-toggle matSuffix [for]="nextVisitDate"></mat-datepicker-toggle>
      <mat-datepicker #nextVisitDate></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="contractEndDate" [matDatepicker]="contractEndDate"   placeholder="Planned Contract End Date">
      <mat-datepicker-toggle matSuffix [for]="contractEndDate"></mat-datepicker-toggle>
      <mat-datepicker #contractEndDate></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="inventoryEntryDate" [matDatepicker]="inventoryEntryDate" required minlength="3" placeholder="Inventory Entry Date">
      <mat-datepicker-toggle matSuffix [for]="inventoryEntryDate"></mat-datepicker-toggle>
      <mat-datepicker #inventoryEntryDate></mat-datepicker>
      <mat-error>Please enter your first name</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number"  formControlName="coldWaterIndex" required placeholder="Cold Water Index">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number" formControlName="hotWaterIndex"  placeholder="Hot Water Index">
    </mat-form-field>



    <mat-form-field>
      <input matInput  formControlName="exitDate"  [matDatepicker]="exitDate"  placeholder="Planned Exit Date">
      <mat-datepicker-toggle matSuffix [for]="exitDate"></mat-datepicker-toggle>
      <mat-datepicker #exitDate></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName="inventoryExitDate" [matDatepicker]="inventoryExitDate"  placeholder="Planned Inventory Exit Date">
      <mat-datepicker-toggle matSuffix [for]="inventoryExitDate"></mat-datepicker-toggle>
      <mat-datepicker #inventoryExitDate></mat-datepicker>
    </mat-form-field>



  <!--   <mat-form-field>
      <input matInput formControlName="contractRecordedDate" [matDatepicker]="contractRecordedDate"   placeholder="contract Recorded Date">
      <mat-datepicker-toggle matSuffix [for]="contractRecordedDate"></mat-datepicker-toggle>
      <mat-datepicker #contractRecordedDate></mat-datepicker>
    </mat-form-field> -->




    <mat-action-row>
      <button mat-raised-button type="submit" color="accent" [disabled]="contractInfoForm.invalid">
       New contract</button>
    </mat-action-row>
  </form>
  <button mat-button aria-label="Saved" class="openSnackBarCss">
  </button>

</div>





