<h4>Aanvraag Grondverzettoelating - Aanvraag Ontvangen</h4>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <p><label>Uw aanvraag voor een grondverzettoelating is bij Grondwijzer vzw geregistreerd onder nummer {{BbrId}}.</label></p>
            <p><label>Wij nemen uw aanvraag zo spoedig mogelijk in behandeling.</label></p>
            <p><label>Indien de ligging van de afzetlocatie niet duidelijk is (bijvoorbeeld door een onvolledig adres), behoudt Grondwijzer vzw zich het recht om verduidelijking te vragen via een aanvulplan waarin wordt weergegeven welke kwaliteit bodem op welke locatie zal worden toegepast.</label></p>
            <p><label>De status van uw aanvraag kunt u terugvinden op uw overzichtscherm.</label></p>
            <p><label>Met vriendelijke groeten,</label></p>
            <p><label>Grondwijzer vzw</label></p>
        </div>
    </div>
</div>