
<!-- Contract -->
<mat-card class="cardSetUp">
  <app-upload labelName="Contract" fieldNameFront="contract" residentIdFile="{{residentIdFile}}">
  </app-upload>
  <div *ngFor="let fileResident of fileResidents">
    <div class="fileInfoAdjustement" *ngIf="fileResident.fieldNameFront=='contract'">
      <div *ngIf="fileResident.residentIdFile === residentIdFile">
      <mat-divider> </mat-divider>
      <mat-list>
        <mat-list-item style="  height:initial">
          <mat-icon matListIcon>attachment</mat-icon>
          <h3 matLine style="word-wrap: break-word; white-space: pre-wrap">
            <span style="font-weight: bold;">File Name:</span> {{fileResident.name}} </h3>
          <p matLine>
            <span style="word-wrap: break-word; white-space: pre-wrap;">
              <span style=" font-style: italic;">Upload date: </span> {{fileResident.lastModifiedDate |
              date:"dd/MM/yyyy"}} </span>
          </p>
        </mat-list-item>
      </mat-list>
      <div class="button-row">
        <button mat-mini-fab color="primary" (click)="downloadFileResident(fileResident.filePath)" class="buttonIconFile"
          matTooltip="Download the file" aria-label="Button that displays a tooltip when focused or hovered over">
          <i class="material-icons">cloud_download</i>
        </button>
        <button mat-mini-fab color="warn" (click)="onDelete(fileResident.id)" class="buttonIconFile" matTooltip="Delete the file"
          aria-label="Button that displays a tooltip when focused or hovered over"><i class="material-icons">
            delete_sweep
          </i></button>
      </div>
    </div>
    </div>
  </div>
</mat-card>
<!-- Inventory Entry -->
<mat-card class="cardSetUp">
    <app-upload labelName="Inventory Entry" fieldNameFront="inventoryEntry" residentIdFile="{{residentIdFile}}" >
    </app-upload>
    <div *ngFor="let fileResident of fileResidents">
      <div class="fileInfoAdjustement" *ngIf="fileResident.fieldNameFront=='inventoryEntry'">
        <div *ngIf="fileResident.residentIdFile ===residentIdFile">
        <mat-divider> </mat-divider>
        <mat-list>
          <mat-list-item style="  height:initial">
            <mat-icon matListIcon>attachment</mat-icon>
            <h3 matLine style="word-wrap: break-word; white-space: pre-wrap">
              <span style="font-weight: bold;">File Name:</span> {{fileResident.name}} </h3>
            <p matLine>
              <span style="word-wrap: break-word; white-space: pre-wrap;">
                <span style=" font-style: italic;">Upload date: </span> {{fileResident.lastModifiedDate |
                date:"dd/MM/yyyy"}} </span>
            </p>
          </mat-list-item>
        </mat-list>
        <div class="button-row">
          <button mat-mini-fab color="primary" (click)="downloadFileResident(fileResident.filePath)" class="buttonIconFile"
            matTooltip="Download the file" aria-label="Button that displays a tooltip when focused or hovered over">
            <i class="material-icons">cloud_download</i>
          </button>
          <button mat-mini-fab color="warn" (click)="onDelete(fileResident.id)" class="buttonIconFile" matTooltip="Delete the file"
            aria-label="Button that displays a tooltip when focused or hovered over"><i class="material-icons">
              delete_sweep
            </i></button>
        </div>
      </div>
    </div>
    </div>
  </mat-card>
<!-- pictucture Entry -->
  <mat-card class="cardSetUp">
      <app-upload labelName="Inventory Pictures Entry" fieldNameFront="picturesEntryInventory" residentIdFile="{{residentIdFile}}">
      </app-upload>
      <div *ngFor="let fileResident of fileResidents">
        <div class="fileInfoAdjustement" *ngIf="fileResident.fieldNameFront=='picturesEntryInventory'">
          <div *ngIf="fileResident.residentIdFile === residentIdFile">
          <mat-divider> </mat-divider>
          <mat-list>
            <mat-list-item style="  height:initial">
              <mat-icon matListIcon>attachment</mat-icon>
              <h3 matLine style="word-wrap: break-word; white-space: pre-wrap">
                <span style="font-weight: bold;">File Name:</span> {{fileResident.name}} </h3>
              <p matLine>
                <span style="word-wrap: break-word; white-space: pre-wrap;">
                  <span style=" font-style: italic;">Upload date: </span> {{fileResident.lastModifiedDate |
                  date:"dd/MM/yyyy"}} </span>
              </p>
            </mat-list-item>
          </mat-list>
          <div class="button-row">
            <button mat-mini-fab color="primary" (click)="downloadFileResident(fileResident.filePath)" class="buttonIconFile"
              matTooltip="Download the file" aria-label="Button that displays a tooltip when focused or hovered over">
              <i class="material-icons">cloud_download</i>
            </button>
            <button mat-mini-fab color="warn" (click)="onDelete(fileResident.id)" class="buttonIconFile" matTooltip="Delete the file"
              aria-label="Button that displays a tooltip when focused or hovered over"><i class="material-icons">
                delete_sweep
              </i></button>
          </div>
        </div>
      </div>
      </div>
    </mat-card>
<div *ngFor="let fileResident of fileResidents">

</div>
   <!--  <button mat-raised-button  color="accent" (click)=" residentDataControl();" >Back to the resident</button> -->
