
.cardSetUp{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.mat-card{

  margin-top: 1rem;
  border-radius: 8px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;

}

.attachmentTitle{
font-family: "Roboto","Helvetica Neue",sans-serif;
font-size: 120%;
}

.buttonIconFile{
 margin-left: 2rem;
 margin-top: 0.5rem;
 margin-bottom: 0.5rem;
}

.fileInfoAdjustement{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.attachmentTitle{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.uploadFileButton{
  margin-bottom: 1rem;
}




