.grid-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-self: auto;
}

.globalCard{
  margin-top: 1rem;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  height: 27rem;
  width: 24rem;
}

.mat-tab-group{
  height: 100%;
  width: 100%;
}
.mat-tab-body {
  height: 100%;
  width: 100%;
}


/* .isRentPaidTrue{
  color: red;

}

.isRentPaidFalse{
  color: green
} */

.residentHeader{
  padding: 2%;
}


.mat-card-header{
  margin-left: auto;
  margin-right: auto;
}


.mat-list-item{
  display: flex;
  text-align: start;


}

/* .profileImage{
  margin:auto;
  height: 15%;
  width: 20%;
  padding: 0px;
} */

.matCardActionButton{
  display: flex;
  justify-content: center;
}


