<div class="grid-container" *ngIf="appartments.length > 0">
  <button mat-stroked-button disabled color="primary" class="globalCard" *ngFor="let appartment of appartments">
    <mat-tab-group dynamicHeight>
      <mat-tab label="{{appartment.appartmentCodeName}}">
        <mat-list>
          <mat-list-item>
            <p mat-line>Appartment Name: {{appartment.appartmentName}} </p>
            <p mat-line>Appartment code:  {{appartment.appartmentCodeName }}</p>
            <p mat-line>Rent: {{appartment.rent}} </p>
            <p mat-line>Monthly Expense : {{appartment.monthlyExpenses}} </p>
            <p mat-line>EAN Code : {{appartment.eanNumber}} </p>
            <p mat-line>Electricity Meter : {{appartment.electricityMeter}} </p>
            <p mat-line>Hot Water Meter : {{appartment.hotWaterMeter}} </p>
            <p mat-line>Cold Water Meter : {{appartment.coldWaterMeter}} </p>
            <p mat-line>Warranty : {{appartment.appartmentWarranty}} </p>
          </mat-list-item>
        </mat-list>
        <mat-card-actions class="matCardActionButton">
            <button mat-button color="primary" [routerLink]="['/appartment/edit', appartment.id]" routerLinkActive="router-link-active" > Edit</button>
          <button mat-button color="accent" (click)="onDelete(appartment.id)"> Delete</button>
        </mat-card-actions>
      </mat-tab>
      <mat-tab label="To do">
        <mat-list>
          <mat-list-item>
            <h6 mat-line>id: {{appartment.id}} </h6>
            <h6 mat-line>Install the security alarm </h6>
            <h6 mat-line>Paint the door </h6>
            <h6 mat-line>Replace the windows </h6>
            <h6 mat-line>Add water protections</h6>
            <h6 mat-line>Add water protections</h6>
            <h6 mat-line>Add water protections</h6>
            <h6 mat-line>Add water protections</h6>
          </mat-list-item>
        </mat-list>
        <mat-card-actions class="matCardActionButton">
          <button mat-button color="primary">Edit</button>
          <button mat-button color="warn"> Delete</button>
        </mat-card-actions>
      </mat-tab>
    </mat-tab-group>
  </button>
</div>
<p class="mat-body-1" *ngIf="appartments.length <= 0"> No appartment added yet</p>

