.openDialogContainer{
    display: flex;
    flex-direction: column;
    align-items:stretch;
    width: 100%;
    height:100% ;
    
}

.openDialogForm {
    width: 100%;
}

.formField{
    width: 100%;
    padding:  0  0.5em 0  0.5em;
}

.spacer {
    flex: 1 1 auto;
  }

  .example-radio-group {
    display: inline-flex;
    flex-direction: column;
  }
  
  .example-radio-button {
    margin: 5px;
  }

  .button{
      outline: none!important;
  }
  
