<h4>Aanvraag Transport van Kleine Werken</h4>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-1">
            Het transport van bodemmaterialen waarvoor geen technisch verslag moet opgemaakt worden, dient steeds door de uitvoerder van de werken aan een erkende bodembeheerorganisatie te worden gemeld in volgende gevallen :
            <ul>
                <li>transport van minder dan 250 m³ onverdachte uitgegraven, gebaggerde of geruimde bodemmaterialen</li>
                <li>transport van minder dan 50 m³ verdachte uitgegraven, gebaggerde of geruimde bodemmaterialen (incl. wegenis en berm) naar een Tussentijdse OpslagPlaats, Centrum voor GrondReiniging of een Centrum voor SlibVerwerking.</li>
            </ul>
            De uitvoerder beschikt over een verklaring van de bouwheer dat er geen technisch verslag opgemaakt hoeft te worden.
            Na de uitvoering van de werken moet de uitvoerder de hoeveelheid geleverde bodemmaterialen aan de erkende bodembeheerorganisatie melden.
        </div>
    </div>
    <div class="row">
        <div class="col-sm-9 col-sm-offset-1">
            <h5>Naar TOP</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5 col-sm-offset-1"><button type="button" class="btn btn-default fixedWidth extramargin" (click)="routeTo(1)">Kleine werken naar TOP</button></div>
        <div class="col-sm-2">&nbsp;</div>
        <div class="col-sm-2">&nbsp;</div>
    </div>
    <div class="row">
        <div class="col-sm-9 col-sm-offset-1">
            <h5>Definitief Gebruik op andere lokatie</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5 col-sm-offset-1"><button type="button" class="btn btn-default fixedWidth extramargin" (click)="routeTo(2)">Kleine werken naar een andere bestemming</button></div>
        <div class="col-sm-2">&nbsp;</div>
        <div class="col-sm-2">&nbsp;</div>
    </div>
</div>