<!-- <mat-card class="cardSetUp">
  <mat-card-title-group class="attachmentTitle">
    <mat-card-title>{{fieldNameFront}}</mat-card-title>
    <button class="uploadFileButton" mat-raised-button (click)="openUploadDialog()">Upload files</button>
  </mat-card-title-group>

</mat-card>
 -->


    <mat-card-title-group class="attachmentTitle">
      <mat-card-title>{{labelName}}</mat-card-title>
      <button class="uploadFileButton" mat-raised-button (click)="openUploadDialog()">Upload files</button>
    </mat-card-title-group>


