table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }

  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: #efefef;
     color:#6B1F7C ;
     box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;

    
  }
  
  .example-element-row td {
    border-bottom-width: 0;
 
  }
  

  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
    
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .filterInputClearLocalStorage {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em;
  }

  .clearSortingData {
    outline: none;
    margin-left: 1em;
  }

  .mat-cell{
    font-size: 0.73em;
   }

   .example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom:0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .globalDetailColumn:hover{
    cursor:pointer;
  }