.setTop {
    align-items: flex-start;
}

.setArea {
    border: 1px solid #DADADA;
}


.locationBorderBottom {
    border-bottom: 1px solid #7faa2a;
}


.controlWidth {
    width: 100%;
}

.emailVersturen:hover {
    text-decoration: underline;
    color: #337ab7;
}
