<label class="marginTop20px" role="button" data-toggle="collapse" href="#kwaliteitenLegende" aria-expanded="false" aria-controls="kwaliteitenLegende" style="text-decoration:underline;cursor:pointer">3 delige code</label>

<div class="collapse" id="kwaliteitenLegende">
    <label>
        <div class="divBorder">
            <table cellspacing="1" cellpadding="1" border="0">
                <tr valign="top">
                    <td align="center" colspan="4">
                        <strong>Kwaliteit/Gebruik</strong>
                    </td>
                </tr>
                <tr valign="top">
                    <td width="42"><strong>Cijfer</strong></td>
                    <td width="177"><strong>(X) Buiten kwz</strong></td>
                    <td width="130"><strong>(Y) Binnen kwz</strong></td>
                    <td><strong>(Z) Bouwstof</strong></td>
                </tr>
                <tr valign="top">
                    <td>0</td>
                    <td>onbekend</td>
                    <td>onbekend</td>
                    <td>onbekend</td>
                </tr>
                <tr valign="top">
                    <td>1</td>
                    <td>vrij gebruik I t/m V</td>
                    <td>vrij gebruik</td>
                    <td>niet-vormgegeven bouwstof +<br>vormgegeven bouwstof</td>
                </tr>
                <tr valign="top">
                    <td>2</td>
                    <td>vrij gebruik II t/m V +<br>gebruik I als geen aanrijking</td>
                    <td>mits toepassing van<br>code goede praktijk</td>
                    <td>alleen vormgegeven bouwstof</td>
                </tr>
                <tr valign="top">
                    <td>3</td>
                    <td>gebruik II t/m V mits studie ontvangend terrein</td>
                    <td>/</td>
                    <td>/</td>
                </tr>
                <tr valign="top">
                    <td>4</td>
                    <td>gebruik III t/m V mits studie ontvangend terrein</td>
                    <td>/</td>
                    <td>/</td>
                </tr>
                <tr valign="top">
                    <td>5</td>
                    <td>gebruik IV t/m V mits studie ontvangend terrein</td>
                    <td>/</td>
                    <td>/</td>
                </tr>
                <tr valign="top">
                    <td>7</td>
                    <td>gebruik V mits studie<br>ontvangend terrein</td>
                    <td>/</td>
                    <td>/</td>
                </tr>
                <tr valign="top">
                    <td>9</td>
                    <td>reinigen of storten</td>
                    <td>reinigen of storten</td>
                    <td>niet mogelijk</td>
                </tr>
            </table>
        </div>
    </label>
</div>