<form [formGroup]="StsForm" class="container-fluid paddingTop10px">
    <div class="row" *ngIf="isGWUser != null">
        <div class="col-sm-12">
            <div class="NgxTable">
                <ngx-datatable #table
                               class="bootstrap"
                               (activate)="onActivate($event)"
                               [rows]="rows"
                               [columnMode]="'flex'"
                               [headerHeight]="50"
                               [footerHeight]="40"
                               [limit]="appLabels.tableViewRows"
                               [rowClass]="getRowClass"
                               [cssClasses]="appLabels.iconsCss"
                               [messages]="{totalMessage: appLabels.Total.toLowerCase(), emptyMessage: appLabels.NoDataToDisplay}"
                               [sorts]="[{prop:'id', dir:'desc' }]"
                               [rowHeight]="'auto'">

                    <ngx-datatable-column [flexGrow]="1" prop="id" headerClass="NgxHeader" hidden>
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            {{value}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [flexGrow]="1" prop="klantID" headerClass="NgxHeader">
                        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                            <span (click)="sort()" class="NgxFilterLabel">Klant ID</span>
                            <div><input type="text" formControlName="klantId" class="NgxFilterField" (keyup)="filter()" /></div>
                        </ng-template>
                        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                            <span [routerLink]="" (click)="linkToklant(row['klantID'])"><span>{{row['klantID']}}</span></span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [flexGrow]="2" prop="achternaam" headerClass="NgxHeader">
                        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                            <span (click)="sort()" class="NgxFilterLabel">Achternaam</span>
                            <div><input type="text" formControlName="anaam" class="NgxFilterField" (keyup)="filter()" /></div>
                        </ng-template>
                        <ng-template let-value="value" ngx-datatable-cell-template>
                            <span>{{value}}</span>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [flexGrow]="2" prop="voornaam" headerClass="NgxHeader">
                        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                            <div><span (click)="sort()" class=" NgxFilterLabel">Voornaam</span></div>
                            <div><input type="text" formControlName="vnaam" class="NgxFilterField" (keyup)="filter()" /></div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [flexGrow]="2" prop="postcode" headerClass="NgxHeader">
                        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                            <div><span (click)="sort()" class=" NgxFilterLabel">Postcode</span></div>
                            <div><input type="text" formControlName="pcode" class="NgxFilterField" (keyup)="filter()" /></div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [flexGrow]="2" prop="plaats" headerClass="NgxHeader">
                        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                            <div><span (click)="sort()" class=" NgxFilterLabel">Plaats</span></div>
                            <div><input type="text" formControlName="plaats" class="NgxFilterField" (keyup)="filter()" /></div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column [flexGrow]="1" name="Detail" headerClass="NgxHeader">
                        <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
                        </ng-template>
                        <ng-template let-row="row" ngx-datatable-cell-template>
                            <img src="../../../../images/ico_editrecord.gif" class="ibtn" (click)="linkToKlantWijz(row['id'], row['klantID'])" />
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
    </div>

</form>