
<button mat-raised-button color="accent"
 (click)="residentDataControl()"> <i class="material-icons">
    account_balance
    </i> Home page</button>
<mat-accordion class="example-headers-align">
 <!--  resident info -->
  <mat-expansion-panel class="matExpansionPanel" [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Personal Information
      </mat-panel-title>
      <mat-panel-description>
        How to reach you?
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div class="dataSetting" *ngIf="resident">
      <form [formGroup]="residentForm" class="example-form">

        <div class="picture-preview">
          <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && residentForm.get('image').valid">
            <img [src]="imagePreview" [alt]="residentForm.value.title">
          </div>
          <div class="image-preview2" *ngIf="resident.imagePath">
            <img [src]="resident.imagePath" [alt]="residentForm.value.title">
          </div>
          <div class="iconPicture">
            <mat-icon matSuffix (click)="filePicker.click()">add_a_photo</mat-icon>
            <input type="file" #filePicker (change)="onImagePicked($event)">
          </div>
        </div>
        <div class="formSetting">

        <mat-form-field class="example-full-width">
          <input matInput type="text" formControlName="firstName" placeholder="First Name:">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput type="text" formControlName="lastName" placeholder="Last Name:">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <!-- <input matInput type="text" formControlName="appartmentInfo" required placeholder="Appartement"> -->
            <mat-select formControlName="appartmentInfo"
                        required placeholder="Appartement "
                        (selectionChange)="updateSelectedAppartment($event.value)" >
              <mat-option *ngFor="let appartment of appartments"
                            selectedAppartment="appartmentInfo"
                            [value]="appartment.id">{{ appartment.appartmentName}}</mat-option>
            </mat-select>
            <!-- <mat-hint align="end">Here's the dropdown arrow ^</mat-hint>  -->
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <input type="text" matInput formControlName="phoneNumber" placeholder="Phone number:">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput formControlName="email" type="email" name="email" required minlength="3" placeholder="Email">
            <mat-error>Please enter the rent</mat-error>
            <!-- <mat-error *ngIf="name.invalid">please entered a title</mat-error> -->
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput formControlName="dateofBirth" [matDatepicker]="dateofBirth" placeholder="Date of Birth">
            <mat-datepicker-toggle matSuffix [for]="dateofBirth"></mat-datepicker-toggle>
            <mat-datepicker #dateofBirth></mat-datepicker>
            <!-- <mat-error *ngIf="name.invalid">please entered a title</mat-error> -->
          </mat-form-field>
          <mat-form-field class="example-full-width">
              <input matInput formControlName="nationality" type="nationality" name="nationality" required minlength="3" placeholder="Nationality">
              <mat-error>Please enter the nationality</mat-error>
              <!-- <mat-error *ngIf="name.invalid">please entered a title</mat-error> -->
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput formControlName="residentOtherInfo" type="residentOtherInfo" name="residentOtherInfo" required minlength="3" placeholder="Other">
                <mat-error>Please enter the other data</mat-error>
                <!-- <mat-error *ngIf="name.invalid">please entered a title</mat-error> -->
              </mat-form-field>

      </div>
      <mat-action-row>
        <button mat-raised-button color="accent" (click)="onSave();  saveButtonClick('Personal Data updated!', 'Info');">Update</button>
      </mat-action-row>

      </form>
    </div>
    <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()" (click)="onSave()">Next</button>

    </mat-action-row>
  </mat-expansion-panel>
<!--   contract info -->
  <mat-expansion-panel class="matExpansionPanel" [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Contract Information
      </mat-panel-title>
      <mat-panel-description>
        Inform us about your contract
        <mat-icon>border_color</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-contract-info [residentId]= "globalId"> Hello!  This is my contract info ! </app-contract-info>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>
  <!-- appartment info -->
  <mat-expansion-panel class="matExpansionPanel" [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Appartment Information
        </mat-panel-title>
        <mat-panel-description>
          Which appartment have you choosen?
          <mat-icon>scatter_plot</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
        <div class="apartmentContainer">
          <mat-list>
            <mat-list-item> Appartment Name: {{selectedAppartment?.appartmentName}}</mat-list-item>
            <mat-divider> </mat-divider>
            <mat-list-item> Appartment Code Name: {{selectedAppartment?.appartmentCodeName}} </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item> Rent: {{selectedAppartment?.rent}} </mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Monthly Expense: {{selectedAppartment?.monthlyExpenses}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Ean Meter: {{selectedAppartment?.eanNumber}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Electricity Meter: {{selectedAppartment?.electricityMeter}}</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item>Hot Water Meter: {{selectedAppartment?.hotWaterMeter}}</mat-list-item>
            <mat-divider></mat-divider>
          </mat-list>
        </div>
          <mat-action-row>
              <button mat-raised-button color="accent" (click)="setStep(0);  saveButtonClick('Update Appartment Field', 'Info');">Change flat</button>

          </mat-action-row>

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
    <!-- file data -->
  <mat-expansion-panel class="matExpansionPanel" [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Resident documents
      </mat-panel-title>
      <mat-panel-description>
        Share all your documents
        <mat-icon>attachment</mat-icon>
      </mat-panel-description>

    </mat-expansion-panel-header>

    <app-resident-files [residentIdFile] = "globalId" ></app-resident-files>

    <mat-action-row>
        <button mat-raised-button color="accent" (click)="residentDataControl()">Home Page</button>
    </mat-action-row>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">End</button>
    </mat-action-row>
  </mat-expansion-panel>



</mat-accordion>












<!-- </mat-accordion> -->

<!-- <form class="example-form">
  <p>
    <span class="itemSetting">First Name: {{resident.firstName}}</span>
  </p>
  <mat-form-field class="example-full-width">
    <input type="text" matInput name="First Name: " placeholder="First Name:" [ngModel]="resident.firstName" >
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>
  <p>
    <span class="itemSetting">Last Name: {{resident.lastName}}</span>
  </p>
  <p>
    <span class="itemSetting">Is Rent Paid: {{resident.isRentPaid}}</span>
  </p>
  <p>
    <span class="itemSetting">Room: {{resident.appartmentInfo}}</span>
  </p>
  <p>
    <span class="itemSetting">Phone number: {{resident.phoneNumber}}</span>
  </p>
  <p>
    <span class="itemSetting">Rent: {{resident.rent}} </span>
  </p>
  <p>
    <span class="itemSetting">Contract End Date: {{resident.contractEndDate}}</span>
  </p>

</form> -->

<!-- <form class="example-form" #postForm="ngForm">
  <mat-form-field class="example-full-width">
    <input type="text" matInput name="First Name: " placeholder="First Name:" [(ngModel)]="resident.firstName">
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input type="text" matInput name="Last Name: " placeholder="Last Name:" [(ngModel)]="resident.lastName">
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input type="text" matInput name="Is Rent Paid: " placeholder="Is Rent Paid:" [(ngModel)]="resident.isRentPaid">
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input type="text" matInput name="Room: " placeholder="Room: " [(ngModel)]="resident.appartmentInfo">
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input type="text" matInput name="Phone number: " placeholder="Phone number: " [(ngModel)]="resident.phoneNumber">
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input type="text" matInput name="Rent: " placeholder="Rent: " [(ngModel)]="resident.rent">
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input type="text" matInput name="Contract End Date: " placeholder="Contract End Date: " [(ngModel)]="resident.contractEndDate">
    <mat-icon matSuffix>mode_edit</mat-icon>
  </mat-form-field>

</form> -->

<!-- <div class="dataSetting" *ngIf="resident">
  <form class="example-form"  #residentForm="ngForm">
    <mat-form-field class="example-full-width">
      <input matInput type="text"  id="firstName" name="firstName" placeholder="First Name:" [ngModel]="resident?.firstName" #firstName= "ngModel">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input  matInput type="text" id="lastName" name="lastName" placeholder="Last Name:"[ngModel] ="resident?.lastName" #lastName= "ngModel">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput  type="text" id="isRentPaid" name="isRentPaid" placeholder="Is Rent Paid:" [ngModel]="resident?.isRentPaid" #isRentPaid= "ngModel">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput  type="text" id="appartmentInfo" name="appartmentInfo" placeholder="Room: " [ngModel]="resident?.appartmentInfo" #appartmentInfo= "ngModel">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input type="text" matInput id="phoneNumber" name="phoneNumber" placeholder="Phone number:" [ngModel]="resident?.phoneNumber" #phoneNumber= "ngModel">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input type="text" matInput id="rent" name="rent" placeholder="Rent: " [ngModel]="resident?.rent" #rent= "ngModel">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput type="text" id="contractEndDate"  name="contractEndDate" placeholder="Contract End Date: " [ngModel]="resident?.contractEndDate" #contractEndDate= "ngModel">
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>


  </form>
</div>
 -->
