
  <div class="address">
      <span class="title"> Who? </span>
      <span>Ujeneza Georgette</span>
      <span>Front end developper - 2 years experience</span>
      <span>Tel: +32 470 11 06 22 | ujeneza.georgette@gmail.com | Rue Fransman 115, 1020 laeken, Brussels Belgium  </span>
  </div>

  <!-- <div class="address">
      <span class="title"> contract us</span>
      <span>Rue Fransman 115, 1020 laeken, Brussels Belgium</span>
      <span>Tel: +32 470 11 06 22</span>
      <span> Email: <a>ujeneza.georgette@gmail.com</a></span>
  </div> -->

<!--   <div class="address">
      <span class="title">Discover our: </span>
      <span>Residents</span>
      <span>Reports</span>
      <span>To do list</span>
  </div> -->


     <!--  <span class="example-spacer"></span>
      <mat-icon class="example-icon">favorite</mat-icon>
      <mat-icon class="example-icon">delete</mat-icon> -->

