.navbar {
    font-size: 12px;
}

li .glyphicon {
    margin-right: 5px;
}

/* Highlighting rules for nav menu items */
li.link-active a,
li.link-active a:hover,
li.link-active a:focus {
    background-color: #B0D001;
    color: #E8E8E8;
}



.navbar-btn {
    background-color: #B0D001;
    color: #E8E8E8;
}

.navbar-fixed-top {
    border-bottom-width: 1px !important;
    background-color: #017342;
    border-bottom-color: #dadada;
}

.navbar-fixed-top a {
    color: #E8E8E8;
}

.nav > li > a:hover {
    background-color: #7FAA2A;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: #7FAA2A;
}

.dropdown {
    padding: 0px;
}

.dropdown-menu {
    background-color: #017342;
}

.navbar-default .navbar-toggle {
    border-color:transparent;
}

.icon-bar {
    background-color: #E8E8E8 !important;
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #7FAA2A;
}


/*@media (min-width: 200px) {
    ul.nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
    }
}*/

.caret {
    margin-left: 4px;
}

.la-timer {
padding-top: 8px !important;
}

.searchLog {
    background-color: white !important;
    font-size: 12px;
    color: #017342;
    height: 22px;
    /* border-bottom: 1px solid; */
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0px;
    border-radius: 2px;
    box-shadow: none;
    border-color: #017342;
    border-style: dotted;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 0;
}

.logButton {
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}

logRow {
    display: flex;
    align-items: center;
    margin-left: 15px;
}

.dropLog{
    padding:5px !important;
}
@media (max-width: 1310px) {
    .navbar-header {
        float: none;
    }

    .navbar-left, .navbar-right {
        float: none !important;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin-top: 7.5px;
    }

        .navbar-nav > li {
            float: none;
        }

            .navbar-nav > li > a {
                padding-top: 0px;
                padding-bottom: 0px;
            }

    .collapse.in {
        display: block !important;
    }
}