<div class="modal-dialog modal-lg">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Technisch verslag zoeken</h4>
        </div>
        <div class="modal-body">
            <form [formGroup]="SearchForm" class="container-fluid">
                <div class="row">
                    <div class="col-sm-3"><label for="SearchKlant" class="pull-right">Klant/Indiener</label></div>
                    <div class="col-sm-8"><input type="text" formControlName="SearchKlant" class="form-control" placeholder="minstens 3 karakters" DottedBorderBelow></div>
                </div>
                <div class="row">
                    <div class="col-sm-3"><label for="SearchStraat" class="pull-right">Straat</label></div>
                    <div class="col-sm-8"><input type="text" formControlName="SearchStraat" class="form-control" placeholder="minstens 3 karakters" DottedBorderBelow></div>
                </div>
                <div class="row">
                    <div class="col-sm-3"><label for="SearchGemeente" class="pull-right">Gemeente</label></div>
                    <div class="col-sm-8"><input type="text" formControlName="SearchGemeente" class="form-control" placeholder="minstens 3 karakters" DottedBorderBelow></div>
                </div>
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-3"><button type="button" [disabled]="!SearchFormIsValid()" class="btn btn-default marginTop10px" (click)="searchTV()">{{appLabels.Search}}</button></div>
                </div>
                <div class="row" *ngIf="showNoDataFound">
                    <div class="col-sm-8 col-sm-offset-3 paddingTop10px"><label>Geen records gevonden</label></div>
                </div>
                <div class="row" *ngIf="showHowToSelect">
                    <div class="col-sm-8 col-sm-offset-3 paddingTop10px"><label>Dubbelklik op een record in de grid om te selecteren</label></div>
                </div>
                <div class="row">
                    <div class="col-sm-11">
                        <div class="NgxTable">
                            <ngx-datatable #table
                                           class="bootstrap"
                                           [rows]="tvFoundRows"
                                           [columns]="tvFoundColumns"
                                           [columnMode]="'flex'"
                                           [footerHeight]="40"
                                           [limit]="15"
                                           [cssClasses]="appLabels.iconsCss"
                                           [rowClass]="getRowClass"
                                           [rowHeight]="'auto'"
                                           [messages]="{totalMessage: appLabels.Total.toLowerCase(), emptyMessage: appLabels.NoDataToDisplay}"
                                           [sorts]="[{prop:'technischVerslagID', dir:'asc' }]"
                                           (activate)="TVselect($event)">
                            </ngx-datatable>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" id="closeTVzoek" class="btn btn-default" data-dismiss="modal">{{appLabels.Close}}</button>
        </div>
    </div>

</div>