<label class="marginTop20px" role="button" data-toggle="collapse" aria-expanded="false" href="#kwaliteitenLegende2008" aria-controls="kwaliteitenLegende2008" style="text-decoration:underline;cursor:pointer">3 delige code</label>

<div class="collapse" id="kwaliteitenLegende2008">
    <label>
        <div class="divBorder">
            <table cellspacing="1" cellpadding="1" border="0">
                <tr valign="top">
                    <td align="center" colspan="4"><strong>Kwaliteit/Gebruik</strong></td>
                </tr>
                <tr valign="top">
                    <td width="42"><strong>Cijfer</strong></td>
                    <td width="168"><strong>Bodem buiten KWZ (X)</strong></td>
                    <td width="195"><strong>Bodem, bouwkundig bodemgebruik* of in een vormvast product binnen KWZ (Y)</strong></td>
                    <td><strong>Bouwkundig bodemgebruik / vormvast product*(Z)</strong></td>
                </tr>
                <tr valign="top">
                    <td>0</td>
                    <td>onbekend</td>
                    <td>onbekend</td>
                    <td>onbekend</td>
                </tr>
                <tr valign="top">
                    <td>1</td>
                    <td>(vrij gebruik)</td>
                    <td>vrij gebruik</td>
                    <td>vrij gebruik in een bouwkundige of vormvaste toepassing</td>
                </tr>
                <tr valign="top">
                    <td>2</td>
                    <td>vrij gebruik</td>
                    <td>mits toepassing van<br>code Goede Praktijk</td>
                    <td>/</td>
                </tr>
                <tr valign="top">
                    <td>3</td>
                    <td>gebruik I t/m V mits studie ontvangende grond</td>
                    <td>/</td>
                    <td>/</td>
                </tr>
                <tr valign="top">
                    <td>4</td>
                    <td>gebruik III t/m V mits studie ontvangende grond</td>
                    <td>/</td>
                    <td>/</td>
                </tr>
                <tr valign="top">
                    <td>5</td>
                    <td>gebruik IV t/m V mits studie ontvangende grond</td>
                    <td>/</td>
                    <td>/</td>
                </tr>
                <tr valign="top">
                    <td>6</td>
                    <td>/</td>
                    <td>/</td>
                    <td>/</td>
                </tr>
                <tr valign="top">
                    <td>7</td>
                    <td>gebruik V mits studie<br>ontvangende grond </td>
                    <td>/</td>
                    <td>/</td>
                </tr>
                <tr valign="top">
                    <td>
                        8
                    </td>
                    <td>/</td>
                    <td>/</td>
                    <td>/</td>
                </tr>
                <tr valign="top">
                    <td>9</td>
                    <td>geen gebruik mogelijk</td>
                    <td>geen gebruik mogelijk</td>
                    <td>geen gebruik mogelijk</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <br />
                        <p style="font-size: 10px; font-style: italic;">
                            I, II, III, IV en V: de overeenkomstige bestemmingstypes zoals bepaald in Vlarebo, bijlage 4, artikel 2 t.e.m. 7
                        </p>
                        <p style="font-size: 10px">
                            * attesteert enkel de milieuhygiënische kwaliteit voor bouwkundig bodemgebruik of gebruik in een vormvast product, en doet geen uitspraak over de bouwtechnische kwaliteit.
                        </p>
                    </td>
                </tr>
            </table>
        </div>
        <br />

    </label>
</div>