
// filters after the data loading 

// Mat card
.filtersCardTabView{
    width: 100%;
    max-height: 100%;
    padding: 0;
}
.filtersTabView{
    width: 100%;
    
    padding: 0;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

}

.matCardHeaderTabView{
    background-color: #6B1F7C; 
    color: white;
    height: 5em;
}
.matCardTitleTabView{
    display: flex; 
    flex-direction: row;
    align-items: center;
    font-size: 1.20em;
    font-weight: bold;
    width: 100%;
    height: 100%;
}

// form
.filterFormsConfig{
    margin-top:1em;
}

.mat-form-field{
    width: 90%;
    margin-left: 1.5em;
}

.myPanelClass{
    margin-top: 30px !important; 
}
// Navigation Buttom

.buttonNavigation{
    height: 100%!important;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    border-bottom: 1px solid #eef4f4;
}
.buttonNavigation:hover{
    height: 100%;
    color: white;
}

.buttonNavigation:focus{
    height: 100%;
    color: white;
}
.buttonNavigation:active{
    height: 100%;
    color: white;
}

.metalMouvementsView{
    grid-area: metalMouvementsView;
    width: 100%;
    height: 100%;
}

.productionView{
    grid-area: productionView;
    width: 100%;
    height: 100%;
}

.consumptionView{
    grid-area: consumptionView;
    width: 100%;
    height: 100%;
}

.activityView{
grid-area: activityView;
width: 100%;
height: 100%;
}

.navigationFilterButtonGroup{
    display: grid;
    grid: "metalMouvementsView" 25%
          "productionView" 25%
          "consumptionView" 25%
          "activityView"25%
          ; 
          width: 100%;
          height: 100%;
     background-color:  rgba(107, 31, 124, 0.1);
          color: white;
}
// Filter and Input area
.navigationFilterButton{
    grid-area: navigationFilterButton;
    width: 100%;
    height: 100%;
}

.navivationFilterContent{
    grid-area: navivationFilterContent;
    width: 100%;
    height: 100%;
    background-color: #fafafa;
}

.matActionRow{
    grid-area: matActionRow;
    padding: 0!important;
    background-color: #fafafa;
    width: 100%;
    outline: none;
    display: flex;
    flex-direction: row;
    outline: none;
}

.matContentFilters{
    display: grid;
    grid: "navigationFilterButton navivationFilterContent"
           "navigationFilterButton matActionRow"
          / 4fr                   15fr;
          width: 100%;
          height: 100%;

}
.mat-button-toggle-button{
    width: 100%!important;
    height: 100%!important;
}


// Action button

.resetFilterInput{
    color:#dc3545;
    background-color: white;
    outline: none;
    margin-left: 1em;
}

.spacer {
    flex: 1 1 auto;
  }


  .searchMatAction{
    background-color: rgba(239, 192, 48, 1);
    color:rgba(51, 51, 51, 1);
    outline:none;
  }
  .searchMatAction:hover:enabled{
    background:#6B1F7C;
    color: white;
    outline:none;
  }

  
